@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700");
body {
  margin: 0px; }

a {
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.header {
  padding: 5px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc; }
  .header img {
    width: 10%;
    display: block;
    margin: 0 auto; }

.footer {
  border-top: 1px solid #cccccc;
  padding: 5px 0;
  margin-top: 30px; }
  .footer p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 10px; }

.form {
  background-color: #e6e6e6;
  display: inline-block;
  padding: 20px 20px;
  border-bottom: 2px solid #cecece; }
  @media (max-width: 768px) {
    .form {
      width: 100%; } }
  .form h2 {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 22px;
    color: #666666;
    margin-bottom: 15px; }
  .form .form__input {
    display: inline-block;
    float: left;
    margin-right: 10px; }
    .form .form__input input[name=tagged] {
      background-color: #cccccc; }
    @media (max-width: 768px) {
      .form .form__input {
        width: 100%; } }
    .form .form__input label {
      display: block;
      color: #727272;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    .form .form__input input, .form .form__input select {
      width: 215px;
      height: 30px;
      padding-left: 5px; }
      @media (max-width: 992px) {
        .form .form__input input, .form .form__input select {
          width: 100%; } }
  .form .form_button {
    display: block; }
    .form .form_button a {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      background-color: #8ac34e;
      color: #ffffff;
      border: none;
      border-bottom: 2px solid #6d9b3e;
      padding: 5px 20px;
      text-decoration: none; }
      .form .form_button a:hover {
        background-color: #6d9b3e;
        border-color: #8ac34e; }
      @media (max-width: 768px) {
        .form .form_button a {
          width: 100%;
          margin: 10px 0;
          text-align: center; } }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2f2d30;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: 30px auto; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.questions {
  margin-top: 30px; }

.questions__box {
  list-style: none; }
  .questions__box a {
    display: inline-block;
    border: 1px solid #e6e6e6;
    padding: 10px 20px;
    min-height: 120px;
    margin-bottom: 10px;
    width: 100%; }
    .questions__box a:hover {
      background: #8ac34e; }
    .questions__box a:hover .questions__title, .questions__box a:hover .questions__id {
      color: #ffffff; }
    @media (max-width: 992px) {
      .questions__box a {
        min-height: 140px; } }

.questions__id {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-style: italic;
  display: block;
  margin-bottom: 10px; }

.questions__title {
  font-family: "Lato", sans-serif;
  color: #666666; }

.questions__null {
  text-align: center;
  margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
