.footer {
    border-top: 1px solid #cccccc;
    padding: 5px 0;
    margin-top: 30px;

    p {
        text-align: center;
        font-family: $secondaryFont;
        font-style: italic;
        font-size: 10px;
    }
}