.form {
    background-color: #e6e6e6;
    display: inline-block;
    padding: 20px 20px; 
    border-bottom: 2px solid #cecece;

    @media (max-width: $screen-sm) {
        width: 100%;
    }

    h2 {
        margin: 0;
        font-family: $primaryFont;
        font-style: italic;
        font-size: 22px;
        color: #666666;
        margin-bottom: 15px;
    }
    
    .form__input{
        display: inline-block;
        float: left;
        margin-right: 10px;

        input[name=tagged] { 
            background-color: #cccccc;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
        }

        label {
            display: block;
            color: #727272;
            font-family: $secondaryFont;
            font-weight: 400;
        }

        input, select {
            width: 215px;
            height: 30px;
            padding-left: 5px;

            @media (max-width: $screen-md) {
                width: 100%;
            }
        }
    }

    .form_button {
        display: block;
        
        a {
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            background-color: #8ac34e;
            color: #ffffff;
            border: none;
            border-bottom: 2px solid #6d9b3e;
            padding: 5px 20px;
            text-decoration: none;

            &:hover {
                background-color: #6d9b3e;
                border-color: #8ac34e;
            }

            @media (max-width: $screen-sm) {
                width: 100%;
                margin: 10px 0;
                text-align: center
            }
        }
    }
}