.questions {margin-top: 30px}

.questions__box {
    list-style: none;

    a {
        display: inline-block;
        border: 1px solid #e6e6e6;
        padding: 10px 20px;
        min-height: 120px;
        margin-bottom: 10px;
        width: 100%;

        &:hover {
            background: #8ac34e;
        }

        &:hover .questions__title,
        &:hover .questions__id {
            color: #ffffff
        }

        @media (max-width: $screen-md) {
            min-height: 140px;
        }
    }
}

.questions__id {
    color: #666666;
    font-family: $secondaryFont;
    font-size: 10px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.questions__title {
    font-family: $primaryFont;
    color: #666666;
}

.questions__null {
    text-align: center;
    margin-top: 30px;
}